@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";
@import url(https://fonts.googleapis.com/css?family=Quicksand|Architects+Daughter);

//variables
$font:  Architects Daughter;

// ============ Home  ======================
body {
  background-color: lighten(grey, 20%);
  font-family: $font;
  text-align:center;
}
h2 {
  text-align:center;
  color: #008080;
  font-family: $font;
}
h6 {
  font-size: 16px;
}
form {
  padding: 50px;
}

// ============ Dashboard  =====================

h1 {
  #userProfile{

  color: #008080;
  width: auto;
  font-family: $font;
    &:hover{
      color: lime;
    }
  }
}

.row {

  .box {
  text-align: center;
  border: 5px solid #000;
  display: table-cell;
  width: 25%;
  padding: 10px;
  padding-bottom: 50px;
  margin: 10px 10px;
  box-sizing: border-box

  }

}
// Add new task button
#addNew {
  font-family: $font;
  color: #000;
  background-color: lightblue;
  border: 3px solid #000;
  display: inline-block;
  position: absolute;
  left: 10px;

  font-size: 15px;
  &:hover{
    border: dotted  pink;
  }
}

#login {
  display: inline-block;
   position: absolute;
   right: 100px;
}

// ============== Create Task ======================

body {
  margin: 40px 100px;
  font-family: $font;
}

h1 {
  color: teal;
  font-family: $font;
  margin-bottom: 0;
  font-size: 40px;

  padding-bottom: 20px;
  display: inline-block;
}

#logout {
  color: #000;
  background-color: lightblue;
  display: inline-block;
  font-size: 15px;
  margin-top:0;
  text-align: right;
  padding: 10px;
  border: 3px solid #000;
}

.form {
  height: auto;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  box-sizing: border-box;

  #description {
      padding-bottom: 40px;
  }
}
//create butt
#create {
  color: #000;
  margin-top: 0;
  display: inline-block;
  float: initial right;
  background-color: lightblue;
  border: 3px solid  #000;
}

// =========== Edit Profile ==============

.editProfileForm {
  width: 500px;
  display: inline-block;
  text-align: center;

}
input{
  height: 37px;
  width: 400px;
}

//============== taskItem =================

.task-box {
  border: 2px dashed lightgreen;
  text-align: left;
  margin: 10px 30px;
  padding: 5px;
}

//Move left button
.buttons{
  text-align:center;

#left {
  font-size: 10px;
  font-family: $font;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: lightblue;
  color: #000;
  border: 2px solid #000;
  &:hover{
    background-color: lavender
  }
}
#remove {
  font-size: 10px;
  font-family: $font;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: lightblue;
  color: #000;
  border: 2px solid #000;
  &:hover{
    background-color: lavender
  }
}
#right {
  font-size: 10px;
  font-family: $font;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: lightblue;
  color: #000;
  border: 2px solid #000;
  &:hover{
    background-color: lavender
  }
}
}

// ========= toDoItems ==============

h3 {
  font-size: 15px;
  font-family: $font;
}