@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";
// @import "foundation/components/grid";
@import url(https://fonts.googleapis.com/css?family=Quicksand|Architects+Daughter);


// ============ Home  ======================
body {
  background-color: lighten(grey, 20%);
  font-family: Architects Daughter;
  text-align:center;
}
h2 {
  text-align:center;
  color: #008080;
}
h6 {
  font-size: 16px;
}
form {
  padding: 50px;
}

// ============ Dashboard  =====================

.row {
  border: 5px pink;

  .box {
  text-align: center;
  border: 5px solid #000;
  display: inline-block;
  width: 300px;
  padding-bottom: 50px;
  margin: 10px 10px;
  box-sizing: border-box

  }
}

// ============== Create Task ======================

h1 {
  color: teal;
  font-family: Architects Daughter;
  margin-bottom: 0;
  font-size: 40px;
  padding-left: 70px;
  display: inline-block;
}

#logout {
  color: #000;
  background-color: lightblue;
  display: inline-block;
  font-size: 15px;
  float: right;
  padding: 10px;
  border: 3px solid #000;
}

.form {
  height: auto;
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  box-sizing: border-box;

  #description {
      padding-bottom: 40px;
  }
}

#create {
  color: #000;
  margin-top: 0;
  background-color: lightblue;
  border: 3px solid  #000;
}