<template name="signup">

<h1>this is signup</h1>

<div class="large-3 large-centered columns">
  <div class="login-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
       <div class="row">
         <div class="large-12 columns">
         <label>Create Username: </label>
             <input type="text" id="username" placeholder="Username" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
         <label>Create Password</label>
             <input type="password" id="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <input id="submit" type="submit" class="button expand" value="Log In"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

</template>