<template name="home">

<h1>i am home</h1>
<div class="large-3 large-centered columns">
  <div class="login-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
       <div class="row">
         <div class="large-12 columns">
         <label>Enter Username:</label>
             <input type="text" id="username" placeholder="Username" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
         <label>Enter Password: </label>
             <input type="password" id="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <input id="submit" type="submit" class="button expand" value="Log In"/>
        </div>
      </div>
    </form>
  </div>
</div>
<input id="signup" type="submit" class="button expand" value="signup"/>

</div>
</div>

</template>