<template name="ApplicationLayout">
<link rel="stylesheet" href="/styles/styles.css">

  <body>
    <h1>
      KanBan - Krazy
    </h1>

    <!-- for login  -->
    {{> loginButtons}}

    {{> yield}}
    <!-- yield: template get inserted here  -->

    <h2>
    I am the Footer
    </h2>
  </body>

</template>


<!-- Home Layout -->
<template name="login">
    <form>
    email:
        <input type="email" name="loginEmail">
    password:
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>


<!-- Dashboard  -->

<template name="dashboard">
  <h1>Welcome! this is the dashboard</h1>
  <p>In here we need...
  <li>
    Welcome _username_ !!! *click, profile/edit
  </li>
  <li>
    3 columns ( To-Do, In Progress, Done) w/create Butt /tasks/new
  </li>
  </p>
</template>


<!-- /profile/edit -->
<template name="editProfile">
  Forms to edit info w/ a save button ( saves new info )
  <li>
    username
  </li>
  <li>
     new password
  </li>
  <li>
    email
  </li>

  - have a logout button ( takes user back to login )
</template>


<!-- tasks/new -->

