<template name="createTask">
<h1>Create a task !</h1>
<!-- Logout button -->
<!-- Leads back to Login page -->
<a href="#" class="button round" id="logout">Logout</a>

<!-- Row Layout for forms -->
<form class="form">
  <label>Title</label>
  <input type="text" placeholder="Task title" />
  <label>Description</label>
  <input type="text" id="description" placeholder="Enter a description" />
</form>

<!-- Round Button -->
<!-- Will Submit the form into task, add to To-Do -->
<a href="#" class="button round" id="create">Create Task!</a>

</template>