<!-- Dashboard  -->

<template name="dashboard">
  <h2>Welcome </h2>
  <a href="localhost:3000/">

  </a>

  <p>In here we need...
  <li>
    Welcome _username_ !!! *click, profile/edit
  </li>
  <li>
    3 columns ( To-Do, In Progress, Done) w/create Butt /tasks/new
  </li>
  </p>
<div class="row">

    <div class="large-4 columns">
      <div id="to-do" class="box">
        To Do..
        <hr style="background:#000; border:0; height:3px" />
        <p>
          <li>
            Tasks
          </li>
        </p>
         <a href="#" class="button round" id="addNew">Add a new task!</a>
      </div>
    </div>

    <div class="large-4 columns">
      <div id="progress" class="box">
        In Progress
        <hr style="background:#000; border:0; height:3px" />
        <p>
          <li>
            Tasks
          </li>
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div id="done" class="box">
        Done!
        <hr style="background:#000; border:0; height:3px" />
        <p>
          <li>
            Tasks
          </li>
        </p>
      </div>
    </div>

  </div>

</template>