<!-- Dashboard  -->

<template name="dashboard">
  <a href="localhost:3000/">
  </a>
    <h1>
      Welcome <a href="#" id="userProfile">
        {{userName}} username
      </a>
    </h1>
  <p>In here we need...
    <li>
      Add new task should redirect user to /task/new
    </li>
    <li>
      Boxes need to be a fixed size
    </li>
  </p>
<div class="row">

    <div class="large-4 columns">
      <div id="to-do" class="box">
        To Do..
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allTasks}}
            {{> taskItem}}
          {{/each}}

        </p>
         <a href="#" class="button round" id="addNew">Add new task!</a>
      </div>
    </div>

    <div class="large-4 columns">
      <div id="progress" class="box">
        In Progress
        <hr style="background:#000; border:0; height:3px" />
        <p>
          <li>
            Tasks
          </li>
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div id="done" class="box">
        Done!
        <hr style="background:#000; border:0; height:3px" />
        <p>
          <li>
            Tasks
          </li>
        </p>
      </div>
    </div>

  </div>

</template>