<!-- Dashboard  -->

<template name="dashboard">
  <a href="localhost:3000/">
  </a>
    <h1>
      Welcome
    </h1>
    <div id="login">
      {{> loginButtons}}
    </div>

     <a href="#" class="button round" id="addNew">Add new task!</a>

<div class="row">

    <div class="large-4 columns">
      <div id="to-do" class="box">
        To Do..
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allToDoItems}}
            {{> toDoItem}}
          {{/each}}

        </p>
      </div>
    </div>

<div class="large-4 columns">
      <div id="progress" class="box">
        In Progress
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allInProgress}}
            {{> inProgressItem}}
          {{/each}}
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div id="done" class="box">
        Done!
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allDone}}
            {{> doneItem}}
          {{/each}}
        </p>
      </div>
    </div>

  </div>

</template>