<!-- Dashboard  -->

<template name="dashboard">
    <h1>
    <a href="#" class="button round" id="addNew">Add new task!</a>
    <a href="#" class="button round" id="logout">LOGOUT</a>
      <a href="#" class="username">
      Welcome
        {{currentUser.username}}
        <p> * click 'Welcome' to change username * </p>
      </a>

    </h1>

<div class="row">

    <div class="large-4 columns">
      <div id="to-do" class="box">
        To Do..
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allToDoItems}}
            {{> toDoItem}}
          {{/each}}
        </p>
<!--       <img src="http://orig07.deviantart.net/8deb/f/2013/144/9/6/pusheen_the_cat_png_18_by_13taylorswiftlover13-d66gdlq.png" id="cat"> -->
      </div>
    </div>

<div class="large-4 columns">
      <div id="progress" class="box">
        In Progress
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allInProgress}}
            {{> inProgressItem}}
          {{/each}}
        </p>
<!--         <img src="http://orig07.deviantart.net/8deb/f/2013/144/9/6/pusheen_the_cat_png_18_by_13taylorswiftlover13-d66gdlq.png" id="cat"> -->
      </div>
    </div>

    <div class="large-4 columns">
      <div id="done" class="box">
        Done!
        <hr style="background:#000; border:0; height:3px" />
        <p>
          {{#each allDone}}
            {{> doneItem}}
          {{/each}}
        </p>
 <!--        <img src="http://orig07.deviantart.net/8deb/f/2013/144/9/6/pusheen_the_cat_png_18_by_13taylorswiftlover13-d66gdlq.png" id="cat"> -->
      </div>
    </div>

  </div>

</template>