<template name="editProfile">

<h2>Edit Profile</h2>
  <form class="editProfileForm">
    <label>Username</label>
        <input type="text" id="username" name="username">
<!--     <label>Change Email:</label>
      <input type="email" id="changeEmail" name="email"> -->
<!--     <label>Change Password:</label>
      <input type="text" id="newPassword">
    <label>Re-enter new Password:</label>
      <input type="text" id="checkPassword"> -->
  <input id="submit" class="button round" type="submit" value="Submit Changes">
  </form>



</template>